@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");
.App {
  background: #23232a;
  color: white;
}
.offcanvas-pos {
  margin-left: 1rem;
  border-radius: 5%;
  margin-top: 6rem;
  width: 25% !important;
}
.card-hover:hover {
  background: #43719e;
  color: white;
  cursor: pointer;
}
.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  width: 100%;
}
/* 
  ****Login Page*****
*/
.box {
  width: 360px;
  background: #1c1c1c;
  height: fit-content;
  border-radius: 8px;
}
.box form {
  inset: 4px;
  background: #222;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.box form h2 {
  color: white;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1;
}
.box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05;
  transition: 0.5;
  z-index: 10;
}
.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  pointer-events: none;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}
.box form .links {
  /* margin-top: 10px;
  margin-bottom: 5px; */
  display: flex;
  justify-content: space-between;
}
.box form .links a {
  margin: 10px 0;
  font-size: 0.9em;
  color: #8f8f8f;
  text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2) {
  color: #fff;
}
/* 
============Loading Component========
*/

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}
